*{
    margin: 0;
    padding: 0;
    font-family: Century Gothic;
}

header{
    background-image: url(../Web/website-parallax-background-C.jpg);
    height: 100vh;


}
ul{
    float: right;
    list-style-type: none;
    margin-top: 25px;
    margin-right: 20px;
}
ul li{
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
}
ul li a:hover{
    background-color: #fff;
    color: #000;
}
ul li.active a{
    background-color: #fff;
    color: #000;
}
.logo img{
    margin-left: 25px;
    float: left;
    width: 150px;
    height: auto;
}
.main{
    max-width: none;
}
.title{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.title h1{
    color: #fff;
    font-size: 70;
    font-family: 'Courier New', Courier, monospace;
}
.sub_title1{
    position: absolute;
    top: 40%;
    left: 25%;
    transform: translate(-50%,-50%);
}
.sub_title1 h2{
    color: #fff;
    font: size 20px;;

}
.vision{
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%,-50%);
}
.vision p{
    color: #fff;
    font: size 13px;;
}
.sub_title2{
    position: absolute;
    top: 40%;
    right: 25%;
    transform: translate(-50%,-50%);
}
.sub_title2 h2{
    color: #fff;
    font: size 20px;;
}
.mission{
    position: absolute;
    top: 50%;
    left:70%;
    transform: translate(-50%,-50%);
}
.mission p{
    color: #fff;
    font: size 13px;;
}
#verticle-line{
    position: absolute;
    width: 2px;
    height: 150px;
    background-color: #fff;
    left: 50%;
    top: 40%;
}